<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected Page</title>
</head>
<script src="static/js/logout.js"></script>
<script src="static/js/sendmail.js"></script>
<script src="static/js/setupprotected.js"></script>
<body>
    <h1>Welcome to the Protected Page</h1>
    <img src="/static/images/banana.gif" alt="Example GIF">
    <p id="userData"></p>
    <p id="email"></p>
    <button onclick="logout()">Log out</button>
    <button onclick="sendmail()">send test mail</button></body>
</html>
